---
import Layout from '../layouts/Layout.astro';
import Checkmark from '../components/Checkmark.astro';
import { Image } from 'astro:assets';
import AboutImage from '../images/maarten.jpg'
import SocialImage from '../images/social.svg'
import ProjectImage from '../images/project.svg'
---

<Layout title="Portfolio">
 <main>
    <section id="home" class="hero is-medium is-primary">
        <div class="hero-body">
            <div class="container">
                <span class="is-size-4 has-text-white">Hallo! Ik ben</span>
                <h1 class="title is-size-1 has-text-white">Maarten Kampmeijer</h1>
                <span class="subtitle is-size-2 has-text-white">Webdeveloper</span>
            </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths is-flex">
                    <p class="is-align-self-center has-text-justified">
                        <span id="age"></span> jaar en wonend in Den Bosch, met nu bijna 4 jaar ervaring als full-stack webdeveloper.
                        Ik heb voornamelijk ervaring met WordPress en Laravel, maar ik sta altijd open om nieuwe technieken te leren en m'n kennis te verbreden.
                        Met WordPress maak ik voornamelijk gebruik van ACF, WP Bakery en Bootstrap om een custom thema te bouwen. En met Laravel maak ik gebrui van Blade, Vue componenten en soms Tailwind om het project te ondersteunen.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-269x404">
                        <Image src={AboutImage} alt="Maarten Kampmeijer" />
                    </figure>
                </div>
            </div>

        </div>
      </section>
      <section id="projects" class="section">
        <div class="container">
            <h2 class="title is-4 is-size-5-touch">Projecten</h2>
            <p>Hier zijn wat persoonlijke projecten waar ik aan gewerkt heb:</p>
            <ul class="mt-4">
                <li class="is-flex is-align-items-flex-start">
                   <Checkmark />
                    <div class="ml-3 mb-4">
                        <h4 class="has-text-weight-bold mb-1">Portfolio</h4>
                        <div class="content">
                            <p>
                                Dit portfolio wat je nu zit te lezen is gebouwd op <a target="_blank" href="https://astro.build/">Astro</a> en is gestyled met <a target="_blank" href="https://bulma.io/">Bulma</a> voor een simpel design.
                                <ul>
                                    <li>404 pagina voor als je verdwaalt raakt op de onepager</li>
                                    <li>Binnenkort meertalig</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="is-flex is-align-items-flex-start">
                    <Checkmark />
                    <div class="ml-3 mb-4">
                        <h4 class="has-text-weight-bold mb-1">To be continued...</h4>
                        <figure class="image is-260x260 mt-2">
                            <Image src={ProjectImage} alt="Project" />
                        </figure>
                    </div>
                </li>
            </ul>
        </div>
      </section>
      <section id="contact" class="section">
        <div class="container">
            <h2 class="title is-4 is-size-5-touch">Contact</h2>
            <p>Ik ben bereikbaar op de volgende plekken:</p>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>
                            <div class="icon-text is-align-items-center">
                                <span class="icon is-large is-linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></span>
                                <span><a target="_blank" href="https://www.linkedin.com/in/maarten-kampmeijer/">LinkedIn</a></span>
                            </div>
                        </li>
                        <li>
                            <div class="icon-text is-align-items-center">
                                <span class="icon is-large is-github"><i class="fa-brands fa-square-github fa-2x"></i></span>
                                <span><a target="_blank" href="https://github.com/IcemanHHW/">Github</a></span>
                            </div>
                        </li>
                        <li>
                            <div class="icon-text is-align-items-center">
                                <span class="icon is-large is-twitter"><i class="fa-brands fa-square-twitter fa-2x"></i></span>
                                <span><a target="_blank" href="https://twitter.com/icemanhhw">Twitter</a></span>
                            </div>
                        </li>
                        <li>
                            <div class="icon-text is-align-items-center">
                                <span class="icon is-large has-text-grey"><i class="fa-solid fa-square-envelope fa-2x"></i></span>
                                <span><a target="_blank" href="mailto:maarten.kampmeijer@gmail.com">E-mail</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <figure class="image is-260x260">
                        <Image src={SocialImage} alt="contact afbeelding" />
                    </figure>
                </div>
            </div>
        </div>
      </section>
 </main>
</Layout>

<style>

</style>
