---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Project from '../components/Project.astro';
import { Image } from 'astro:assets';
import ProjectImage from '../images/project.svg'
---

<Layout title="Maarten Kampmeijer">
 <main>
    <Header greeting="Hallo! Ik ben"></Header>
    <About>
        jaar, geboren en getogen in Heerhugowaard en nu wonend in Den Bosch. Met de start van mijn professionele carrière in 2020 heb ik nu bijna 4 jaar werkervaring als webdeveloper.
        Gedurende deze jaren heb ik ervaring met WordPress en Laravel opgebouwd, echter sta ik altijd open om nieuwe technieken te leren en m'n kennis te verbreden.
        Met WordPress maak ik voornamelijk gebruik van ACF, WP Bakery en Bootstrap om een custom thema te bouwen, terwijl ik met Laravel gebruik maak van Blade, Vue componenten en soms Tailwind om het project te ondersteunen.
        <br><br>
        Naast webdevelopment houd ik mezelf bezig met het lezen van boeken en manga, gamen (vooral MMORPG's als World of Warcraft en Final Fantasy 14), het bouwen van LEGO sets en wandelen in de natuur met mijn honden.
        Daarnaast ben ik op zoek naar een nieuwe (lokale) groep om Dungeons & Dragons om mee te spelen.
        <br><br>
        De komende jaren wil ik mij meer gaan richten op het verbreden van mijn vaardigheden zodat ik inzetbaar kan zijn op elk vlak van de ontwikkeling, en mijn interesse in het vak verder kan exploreren.
    </About>
    <Projects title="Projecten" text="Hier zijn wat persoonlijke projecten waar ik aan gewerkt heb:">
        <Project title="Portfolio">
            <p>
                Dit portfolio wat je nu leest is gebouwd met <a target="_blank" href="https://astro.build/">Astro</a> en is gestyled met <a target="_blank" href="https://bulma.io/">Bulma</a> voor een simpel design.
                <ul>
                    <li>404 pagina voor als je verdwaalt raakt op de onepager</li>
                    <li>Meertalig</li>
                </ul>
                <a target="_blank" href="https://github.com/IcemanHHW/portfolio">Github</a>
            </p>
        </Project>
        <Project title="Discord bot">
            <p>
                Een simpele Discord bot geschreven in Javascript en gebouwd met <a target="_blank" href="https://discord.js.org/">Discord.js</a>
                <ul>
                    <li>Reageert als iemand een emoji gebruikt wat niet beschikbaar is in de server</li>
                    <li>Reageert met "I love you @username" wanneer iemand dat aan de bot vraagt of die van hem/haar houdt</li>
                </ul>
                <a target="_blank" href="https://github.com/IcemanHHW/discord-bot">Github</a>
            </p>
        </Project>
        <Project title="To be continued...">
            <figure class="image is-260x260 mt-2">
                <Image src={ProjectImage} alt="Project" />
            </figure>
        </Project>
    </Projects>
    <Contact title="Contact" text="Ik ben bereikbaar op de volgende plekken:"></Contact>
 </main>
</Layout>