---
const { greeting } = Astro.props;
---

<section id="home" class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <span class="is-size-4 has-text-white">{greeting}</span>
            <h1 class="title is-size-1 has-text-white">Maarten Kampmeijer</h1>
            <span class="subtitle is-size-2 has-text-white">Webdeveloper</span>
        </div>
    </div>
  </section>